/* Resetando estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Container Principal */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    height: 100%;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    background-color: #1f1f1f;
    width: 300px;
    padding: 30px;
    color: #fff;
    border-right: 3px solid #f9c74f;
    position: sticky;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease, padding 0.3s ease, transform 0.3s ease;
}

.sidebar:hover {
    width: 350px;
    padding: 30px 50px;
    transform: scale(1.05);
}

/* Imagem de perfil */
.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #f9c74f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 152, 0, 0.8);
}

/* Nome e título */
.name {
    font-size: 26px;
    font-weight: 700;
    margin: 15px 0;
    color: #f9c74f;
    text-align: center;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.name:hover {
    color: #f7b731;
}

.title {
    font-size: 18px;
    color: #f9c74f;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}

/* Informações de contato */
.contact-info {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    padding: 0;
}

.contact-info li {
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}

.contact-info i {
    margin-right: 10px;
}

.contact-info li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.contact-info li a:hover {
    color: #f9c74f;
}

/* Redes Sociais */
.social-media a {
    display: inline-block;
    margin: 12px;
    color: #f9c74f;
    font-size: 30px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-media a:hover {
    color: #fff;
    transform: scale(1.2);
}

/* Área Principal */
.main-content {
    flex-grow: 1;
    background-color: #2b2b2b;
    padding: 25px;
    overflow-y: auto;
    border-radius: 15px;
    height: calc(100vh - 40px);
}

/* Sobre Mim */
#about {
    margin-bottom: 40px;
}

#about h2 {
    font-size: 32px;
    color: #f9c74f;
    margin-bottom: 15px;
}

#about p {
    font-size: 16px;
    color: #d1d1d1;
}

/* Cards de Serviços */
.services {
    margin-top: 30px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.service-card {
    background-color: #1f1f1f;
    padding: 20px;
    flex: 1 1 calc(33.333% - 30px);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.service-card i {
    font-size: 55px;
    color: #f9c74f;
    margin-bottom: 15px;
}

.service-card h3 {
    color: #f9c74f;
    margin-bottom: 10px;
    font-size: 22px;
}

.service-card p {
    font-size: 14px;
    color: #d1d1d1;
}

/* Portfolio */
.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 20px;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay p {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.view-project {
    font-size: 14px;
    color: #f9c74f;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid #f9c74f;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.view-project:hover {
    background-color: #f9c74f;
    color: #121212;
}

/* Estilos para o botão de download */
.download-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 18px;
    background-color: #f9c74f;
    color: #121212;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: auto;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #d1a100;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

